<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Tests Suite">
    <listeners>
        <listener class-name="CustomTestListener" />
    </listeners>
    <test name="Selenium Test">
        <classes>
            <class name="tests.SampleTest"/>
        </classes>
    </test>

</suite>